# c-sar-denarius

See left doc tree for available datasets.

<!--
Be careful, if you update the indent needs to be corrected to 4 spaces
-->

- [Glossary of terms](#glossary-of-terms)
    - [Count QC summary](#count-qc-summary)
    - [NNMD and Glass Delta](#nnmd-and-glass-delta)

## Glossary of terms

Many of the terms are repeated in the various data levels (raw, normalized…) but only the high level definitions are included here.

### Count QC summary

| Name         | Description                                                                      |
|--------------|----------------------------------------------------------------------------------|
| total_sgrnas | Total number of guides in the library.                                           |
| mapped_reads | Number of reads sequenced successfully mapped.                                   |
| zero_sgrnas  | Number of guides in library with zero counts mapped                              |
| low_sgrnas   | Number of guides in the library with a low number of reads (<30) mapped to them. |
| gini_index   | A measure of the evenness sgRNA count density.                                   |

### NNMD and Glass Delta

| Name                           | Description                                                                                                                                                                                                                                                                                                                                                                                        |
|--------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Glass Delta                    | Glass Delta is a measure of the separation between the essential and non-essential genes. It is an indicator of screen quality. Defined as the absolute difference in means between the reference sets of essential and non-essential genes, divided by the standard deviation of the essential genes. The larger the value the better the screen.                                                 |
| NNMD                           | The null-normalized mean difference (NNMD) is a measure of separation, defined as the difference between the mean dependency scores of the common essential genes and non-essential genes divided by the standard deviation of the dependency scores of the non-essential genes. The lower the value the better the separation of dependency scores for between essential and non-essential genes. |
| Gene lfc correlation           | Pearson correlation between replicates using the gene level log fold changes.                                                                                                                                                                                                                                                                                                                      |
| Gene lfc density               | Plot of the distribution of gene level log fold changes. The distribution is estimated using kernel density estimation. Distributions of genes for prior known essential and non-essential genes are estimated and plotted separately with the remaining genes plotted in the ‘undefined’ category.                                                                                                |
| Gene lfc violin                | Distribution of gene level log fold changes plotted using a violin plot. The boxplot showing the interquartile range and the horizontal line the median log fold changes.                                                                                                                                                                                                                          |
| Receiver operating curve (ROC) | Using the reference prior known essential and non-essential gene sets. Statistics are generated on the performance of the screen to correctly classify essential and non-essential genes.                                                                                                                                                                                                          |

Thresholds:

- Maximum log fold change with an FDR less than 5%.
- Specificity: The proportion of False Positives (priori known non essentials) correctly identified as such at the 5% FDR threshold.
- Sensitivity: The proportion of True Positives (priori known essentials) correctly identified as such at the 5% FDR threshold.

<!-- refs -->

[bagel2-ceg-v2]: https://github.com/hart-lab/bagel/blob/5aea1eb84a8eea66f5feeb6286442fd535b98bff/CEGv2.txt
[bagel2-neg-v1]: https://github.com/hart-lab/bagel/blob/5aea1eb84a8eea66f5feeb6286442fd535b98bff/NEGv1.txt
[conf-personal]: https://confluence.sanger.ac.uk/display/CAS/SGCRISPR+interim#personal-use
